
	<div class="row">
			<div class="col-md-4 col-xs-12 margin-element">
				<p class="paragraph">&#169; KFC International Holdings Inc.
					<div class="age">
  						<span>12+</span>
					</div>
			</div>
			<div class="col-md-4 col-xs-12 text-center margin-element">
				<p>KFC - в зручному форматі</p>
				<div class="vk icon">
					<a href="https://vk.com/kfc.ukraine">
					<i class="fa fa-vk fa-fw" aria-hidden="true"></i></a>
				</div>
				<div class="fb icon">
					<a href="https://www.facebook.com/KFC.Ukraine">
					<i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 margin-element">
				<div class="links">
					<i class="fa fa-mobile" aria-hidden="true"></i></a>
					<a href="http://m.kfc-ukraine.com/main">Мобільна версія</a>
					<i class="fa fa-info" aria-hidden="true"></i></a>
					<a href="#">Зворотній зв'язок</a>
				</div>
			</div>
		</div>