<div class="header">
<!-- TOCHANGE LANGUAGE BAR -->
		<div class="header-top-content">
			<ul class="lang">
			  	<li class="cur_lang">
				  <a class="nav-a" href=""><span class="lang-gb"></span>English</a>
			  	</li>
			  	<li class="cur_lang">
			  		<a class="nav-a" href=""><span class="lang-ua"></span>Українська</a>
			  	</li>
			  	<li class="cur_lang">
				  <a class="nav-a" href=""><span class="lang-ru"></span>Русский</a>
			  	</li>
		    </ul>
		</div>
<!-- NAVIGATION -->
		<div class="navigation">
<!-- LOGO -->
			<a href="/" class="logo"><img src="img/logo.png" class="img-block" alt=""></a>
			<ul class="nav-menu">
<!-- MENU -->
				<li class="menu-item"><a href="menu" class="menu-link">Меню</a></li>
<!-- RESTAURANTS -->
				<li class="menu-item">
					<a href="#" class="menu-link">Ресторани</a>
				</li>
<!-- CAREER -->
				<li class="menu-item">
					<a href="#" class="menu-link">Кар'єра</a>
						<ul class="sub-nav">
							<li>
								<a href="vacancies">Вакансії</a>
									<ul>
										<li>
											<a href="employee">Працівник ресторану</a>
										</li><li>
											<a href="manager">Менеджер ресторану</a>
										</li>
									</ul>
							</li>
							<li><a href="career">Кар'єра в KFC</a></li>
							<li><a href="anketa">Анкета</a></li>
						</ul>
				</li>
<!-- ABOUT KFC -->
				<li class="menu-item">
					<a href="#" class="menu-link">Про компанію</a>
						<ul class="sub-nav">
							<li><a href="#">Бізнес з KFC</a>
								<ul>
									<li><a href="franchising">Франчайзинг</a></li>
									<li><a href="owners">Влaсникам земельних ділянок та приміщень</a></li>
								</ul>
							</li>
							<li><a href="history">Історія</a></li>
							<li><a href="#openModal" data-toggle="modal" data-target="#bannerformmodal">Контакти</a>
								<div id="openModal" class="modalDialog">
									<div>
										<a href="#close" title="Close" class="close">X</a>
										<h2>Контакты</h2>
										<h4>Контакти для ЗМI та загальнi питання:</h4>
										<a class="underline" href="#">kfc-media@mainstream.ua</a>
										<h4>З питань закупівлі та дистрибуції:</h4>
										<a class="underline" href="#">darina.todorova@yum.com</a> <br/>
										<a class="underline" href="#">Alexandr.Silenko@yum.com</a>
										<h4>З питань маркетингу:</h4>
										<a class="underline" href="#">kfc-media@mainstream.ua</a>
									</div>
          			</div>
							</li>
						</ul>
				</li>
<!-- PROMO -->
				<li class="menu-item"><a href="promo" class="menu-link">Акції</a></li>
			</ul>
		</div>
	</div>