<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>
</head>
<body>

<div class="wrapper">
  <header>
    <% include ../partials/header %>
  </header>

    <div class="down-header">
      <a class="main" href="../../index.html">Головна</a>
      <span> / </span>
      <a href="#">Кар'єра</a>
      <span> / </span>
      <a href="./vacancies.html">Кар'єра в KFC</a>
    </div>
    <div class="content">
      <img src="img/career/career_in_kfc_uk.png" alt="">
    </div>
    <footer>
    <% include ../partials/footer %>
  </footer>
  </div>
    
</body>

</html>