<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>
</head>
<body>

<div class="wrapper">
  <header>
    <% include ../partials/header %>
  </header>

    <div class="down-header">
      <a class="main" href="../../index.html">Головна</a>
      <span> / </span>
      <a href="#">Кар'єра</a>
      <span> / </span>
      <a href="./vacancies.html">Вакансії</a>
      <span> / </span>
      <a href="#">Працівник ресторану</a>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
            <img src="img/career/category_vacancy_1.png" alt=""> 
        </div>
        <div class="col-md-8">
          <h3 class="title">Працівник ресторану: - стартова позиція в нашій компанії, яка не вимагає досвіду роботи</h3>
          <p class="paragr">Якщо ти комунікабельний, позитивний, відповідальний, дружелюбний, енергійний - вітаємо в компанії KFC! Тут на тебе очікує цікава робота, море вражень та друзів, а також перспективна кар'єра, якщо в тебе є бажання розвиватись разом з нашою компанією і якщо ти проявляєш організаторські здібності. </p>
          <p class="paragr">Чому дана вакансія має саме таку назву? Всі співробітники ресторану працюють разом, однією командою. Допомагаючи і підтримуючи один одного, ми перемагаємо разом! Співробітникам ресторану не доводиться скучати, адже робота різнопланова та цікава: ми готуємо і запаковуємо фірмові блюда KFC, обслуговуємо наших Гостей кожен день, щоб вони почували себе довгожданими і приходили до нас знову і знову.</p>
          <p class="paragr">Ми - фанати гостей! А саме головне, ми працюємо з позитивною енергією, у нас завжди гарний настрій і ми заряджаємо усіх! Для того щоб твоя робота приносила задоволення, достойну заробітну плату та кар'єрний зріст, ми створили програму компенсацій, що буде являтись для тебе хорошим стимулом. </p>
          <a class="add-btn-other pull-right" href="#openModal">Заповніть анкету</a>
          <div id="openModal" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <h2>Контакты</h2>
              <h4>Контакти для ЗМI та загальнi питання:</h4>
              <a class="underline" href="#">kfc-media@mainstream.ua</a>
              <h4>З питань закупівлі та дистрибуції:</h4>
              <a class="underline" href="#">darina.todorova@yum.com</a> <br/>
              <a class="underline" href="#">Alexandr.Silenko@yum.com</a>
              <h4>З питань маркетингу:</h4>
              <a class="underline" href="#">kfc-media@mainstream.ua</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid container-margin">
      <div class="row">
        <div class="col-md-6 colomn">
          <img class="ics" src="img/career/icon_men.png" alt="">
          <h3 class="second-title">Плюси позиції</h3>
          <h4 class="third-title">Мисли нестандартно!</h4>
          <p class="text">Ми навчимо тебе мислити нестандартно, бути поза межами стереотипів та шаблонів. З нами кожен день ти будеш отримувати нові знання, набувати нових навичок, зустрічатися з новими людьми, а нові ідеї й нестандартні рішення не примусять на себе довго чекати! Ти відкриєш нові горизонти в житті й в самому собі!</p>
          <h4 class="third-title">Спілкуйся легко!</h4>
          <p class="text">Знайди спільну мову з кожним й завжди! Думаєш, це нереально? Ми відкриємо тобі секрет мистецтва спілкування. Робота з Гостями або командою - що б ти не робив, тепер завжди знайдуться потрібні слова!</p>
          <h4 class="third-title">Будь лідером!</h4>
          <p class="text">Ти запалюєш, в тебе вірять, за тобою йдуть! У нас ти навчишся не тільки керувати, переконувати та вести за собою свою команду, ти зумієш стати справжнім лідером у всіх сферах твого життя!</p>
          <h4 class="third-title">Здійсни свої мрії!</h4>
          <p class="text">Уміння ставити ціль та досягати мети - запорука успіху! Наш позитивний настрій та енергія - що може бути краще для твоїх перемог? З нами ти зможеш здійснити свої мрії!</p>
        </div>

        <div class="col-md-6 colomn">
          <img class="ics" src="img/career/icon_lamp.png" alt="">
          <h3 class="second-title">Ми пропонуємо</h3>
          <h4 class="third-title">Я хочу все встигнути!</h4>
          <p class="text">Ми пропонуємо гнучкий графік роботи і можливість вибору ресторану поблизу дому чи місцю навчання. Друзі, відпочинок, робота, освіта, спорт, розваги - з нами тобі на все вистачить часу!</p>
          <h4 class="third-title">Я хочу бути самостійним!</h4>
          <p class="text">Майбутнє - це просто зараз і воно в твоїх руках. Живи на повну! Конкуренто спроможна зарплата дозволить тобі бути самостійним.</p>
          <h4 class="third-title">Я хочу розвиватись!</h4>
          <p class="text">Робота в міжнародній компанії - це максимум можливостей для росту. Для кожного співробітника ми пропонуємо індивідуальний план навчання та розвитку. Від рядового співробітника до директора ресторану не так і далеко!</p>
        </div>        
      </div>    
    </div>
    <footer>
    <% include ../partials/footer %>
  </footer>
  </div>
</body>

</html>