<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>
</head>
<body>

<div class="wrapper">
  <header>
    <% include ../partials/header %>
  </header>
    <div class="down-header">
      <a class="main" href="../../index.html">Головна</a>
      <span> / </span>
      <a href="#">Бізнес з KFC</a>
      <span> / </span>
      <a href="#">Франчайзинг</a>
    </div>

    <img src="img/aboutKFC/franchising_big.jpg" alt="">
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <h3 class="title">Приєднуйтесь до нашої великої дружньої та успішної компанії! </h3>
          <p class="paragr">Якщо у Вас є досвід операційного управління, фінансові можливості та кмітливість, якщо ви не байдужі до своєї справи - ми обов'язково станемо партнерами! Ви дізнаєтесь, що таке чесність, сумління, обов'язковість та точність виконання домовленностей, а також наслідування міжнародним нормам ділової етики. Побачите, як можна любити та поважати гостей своїх ресторанів. Зрозумієте, що таке віра в бренд, що означає глибоке його розуміння, визнання всіх процедур та стандартів</p>
          <p class="paragr">Ми допоможемо Вам у вирішені всіх питань - від техніко-економічного обгрунтування до підготовки персоналу</p>
          <a class="add-btn-other" href="#">Заповніть анкету</a>

          <h3 class="fourth-title">Портрет ідеального франчайзі</h3>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <h4 class="section-title">Загальні характеристики</h4>
                <ul class="section-list">
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Досвід операційного управління - бажанно в ресторанах швидкого обслуговування, в громадському харчуванні, готельному секторі, роздрібній торгівлі</li>
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Фінансова кмітливість - вміння використовувати фінансові ресурси для отримання максимального прибутку від бізнеса, а також вміння використовувати фінансові інструменти для отримання найкращих інвестиційних показників</li>
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Досвід корпоративного управління, що підтвердженний кар'єрним просуванням, вищими управлінськими позиціями, строками на цих постах та реальними досягненнями </li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4 class="section-title">Бажанні характеристики</h4>
                <ul class="section-list">
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Сбалансованна дохідність - розуміє зв'язок між якістю страв, що пропонуються, рівнем обслуговування гостей та необхідністю "заробляти гроші", та встановлювати вірний баланс</li>
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Зобов'язання бути щоденно зануреним в бізнес (або сам власник, або головний оператор)</li>
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Уважне вивчення можливих ризиків - "сім раз відмір, один раз відріж"</li>
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Готовність до переїздів - і сам власник, і його головний оператор (при необхідності)</li>
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Фінансові можливості розвивати мульти-структурну мережу</li>
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Досвідчений користувач основних комп'ютерних програм (MSOffice – Word, Excel, Power Point, Outlook)</li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4 class="section-title">Небажанні характеристики</h4>
                <ul class="section-list">
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Пасивний фінансовий інвестор</li>
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Намір використовувати бренд KFC лише в якості генератора коштів, що необхідні для підтримання іншого бізнесу</li>
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Неможливість дотримуватися кодексу поведінки YUM</li>
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Попередня кримінальна відповідальність або банкрутство</li>
                  <li><i class="fa fa-chevron-down" aria-hidden="true"></i>Кофлікт інтересів (наприклад, є службовцем або власником конкуруючого бренда)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h3 class="title">Історії успіху</h3>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <img src="img/aboutKFC/success_story.jpg" alt="">
              </div>
              <div class="col-md-8">
                <h3 class="fio">Константин Юрьєвич Котов.</h3 class="fio">
                <p><strong>Генеральний директор ТОВ «Фуд-Сервіс», Іжевськ.</strong></p>
                <p>В 2006 році Константин Юрьєвич Котов розпочав развивати новий напрямок бізнесу: відкриття підприємств громадського харчування.  Ресторан ...
                <a href="#">читати повністю</a>
                </p>
              </div>
            </div>
          </div>

          <div class="contact-info">
            <h3 class="title">Якщо ви хочете стати нашим партнером, звертайтесь до Павла Гончарова:</h3>
            <p>125171, Росія, Москва, Ленінградське шосе, д. 16 А, стр. 2, Бізнес Центр Метрополіс</p>
            <p>Тел.: <span>8 (495) 212 00 00 дод. 2705</span></p>
            <p>Факс:  <span>8 (495) 212 00 22</span></p>
            <p>E-mail: <a class="email" href="#">Pavel.Goncharov@yum.com</a></p>
          </div>

          <!-- <div class="scheme">
            <h3 class="fourth-title">Витрати на відкриття ресторану</h3>
            
          </div> -->
        </div>  
      </div>
    </div>  
    <footer>
    <% include ../partials/footer %>
  </footer>
  </div>

</body>

</html>