<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
</head>
<body>

<div class="wrapper">
  <header>
    <% include ../partials/header %>
  </header>
    <div class="down-header">
      <a class="main" href="../../index.html">Головна</a>
      <span> / </span>
      <a href="#">Бізнес з KFC</a>
      <span> / </span>
      <a href="#">Франчайзинг</a>
    </div>

<div class="row">
<div class="col-md-4">
  <div class="owl-carousel owl-theme">
    <div class="slide">
        <img src="img/sandwiches/product_1.png" alt="">
        <h4 class="name">Зінгер</h4>
        <div class="price-button">
          <h2 class="price">25,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_2.png" alt="">
      
        <h4 class="name">Твістер з тостера</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_4.png" alt="">
    
      
        <h4 class="name">Біггер</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_5.png" alt="">

      
        <h4 class="name">Боксмайстер з тостера</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_3.png" alt="">

      
        <h4 class="name">Веджи Твістер</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_5.png" alt="">

      
        <h4 class="name">Боксмайстер з тостера</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_7.png" alt="">

      
        <h4 class="name">Сандерс</h4>
        <div class="price-button">
          <h2 class="price">35,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_7.png" alt="">

      
        <h4 class="name">Класик</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
  </div>
  </div>
  
<!-- КУРИЦА -->

<div class="col-md-4">
  <div class="owl-carousel owl-theme">
    <div class="slide">
        <img src="img/chicken/product_11.png" alt="">
        <h4 class="name">3 Стрiпсiв</h4>
        <div class="price-button">
          <h2 class="price">32,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_12.png" alt="">
      
        <h4 class="name">6 Cтрiпсiв</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_13.png" alt="">
    
      
        <h4 class="name">9 Cтрiпсiв</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_14.png" alt="">

      
        <h4 class="name">3 Гострих Крилець</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_15.png" alt="">

      
        <h4 class="name">9 Гострих Крилець</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_16.png" alt="">

      
        <h4 class="name">Байтс</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_17.png" alt="">

      
        <h4 class="name">Байтс</h4>
        <div class="price-button">
          <h2 class="price">35,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_18.png" alt="">

      
        <h4 class="name">Байтс Барбекю</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
  </div>
  </div>



<div class="col-md-4">
  <div class="owl-carousel owl-theme">
    <div class="slide">
        <img src="img/bucket/product_21.png" alt="">
        <h4 class="name">Бакет з крилець</h4>
        <div class="price-button">
          <h2 class="price">48,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/bucket/product_22.png" alt="">
      
        <h4 class="name">Бакет дует</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/bucket/product_23.png" alt="">
    
      
        <h4 class="name">Діскавері бакет</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/bucket/product_25.png" alt="">

      
        <h4 class="name">Бакет сімейний</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/bucket/product_26.png" alt="">

      
        <h4 class="name">Байтс барбекю</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
  </div>
  </div>
  </div>


<div class="row">
<div class="col-md-4">
  <div class="owl-carousel owl-theme">
    <div class="slide">
        <img src="img/sandwiches/product_1.png" alt="">
        <h4 class="name">Зінгер</h4>
        <div class="price-button">
          <h2 class="price">25,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_2.png" alt="">
      
        <h4 class="name">Твістер з тостера</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_4.png" alt="">
    
      
        <h4 class="name">Біггер</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_5.png" alt="">

      
        <h4 class="name">Боксмайстер з тостера</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_3.png" alt="">

      
        <h4 class="name">Веджи Твістер</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_5.png" alt="">

      
        <h4 class="name">Боксмайстер з тостера</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_7.png" alt="">

      
        <h4 class="name">Сандерс</h4>
        <div class="price-button">
          <h2 class="price">35,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/sandwiches/product_7.png" alt="">

      
        <h4 class="name">Класик</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
  </div>
  </div>
  
<!-- КУРИЦА -->

<div class="col-md-4">
  <div class="owl-carousel owl-theme">
    <div class="slide">
        <img src="img/chicken/product_11.png" alt="">
        <h4 class="name">3 Стрiпсiв</h4>
        <div class="price-button">
          <h2 class="price">32,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_12.png" alt="">
      
        <h4 class="name">6 Cтрiпсiв</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_13.png" alt="">
    
      
        <h4 class="name">9 Cтрiпсiв</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_14.png" alt="">

      
        <h4 class="name">3 Гострих Крилець</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_15.png" alt="">

      
        <h4 class="name">9 Гострих Крилець</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_16.png" alt="">

      
        <h4 class="name">Байтс</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_17.png" alt="">

      
        <h4 class="name">Байтс</h4>
        <div class="price-button">
          <h2 class="price">35,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/chicken/product_18.png" alt="">

      
        <h4 class="name">Байтс Барбекю</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
  </div>
  </div>



<div class="col-md-4">
  <div class="owl-carousel owl-theme">
    <div class="slide">
        <img src="img/bucket/product_21.png" alt="">
        <h4 class="name">Бакет з крилець</h4>
        <div class="price-button">
          <h2 class="price">48,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/bucket/product_22.png" alt="">
      
        <h4 class="name">Бакет дует</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/bucket/product_23.png" alt="">
    
      
        <h4 class="name">Діскавері бакет</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/bucket/product_25.png" alt="">

      
        <h4 class="name">Бакет сімейний</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
    <div class="slide">
      
        <img src="img/bucket/product_26.png" alt="">

      
        <h4 class="name">Байтс барбекю</h4>
        <div class="price-button">
          <h2 class="price">43,00 <small>грн</small></h2>
          <a href="" id="buy" class="button">В корзину</a>
        </div>
    </div>
  </div>
  </div>
  </div>


<footer>
  <% include ../partials/footer %>
</footer>

  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script src="js/common.js"></script>
</body>

</html>