<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>
</head>
<body>

<div class="wrapper">
  <header>
    <% include ../partials/header %>
  </header>
    <div class="down-header">
      <a class="main" href="../../index.html">Головна</a>
      <span> / </span>
      <a href="#">Бізнес з KFC</a>
      <span> / </span>
      <a href="#">Власникам земельних ділянок та приміщень</a>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <a class="block-link" href="">
            <img class="img-owners" src="img/aboutKFC/business_page_thumb_01.jpg" alt="">
            <h2 class="title title-color">Drive Thru</h2>
            <p class="paragr">Купівля землі під будівництво окремого будинку площею від 1800 м2 до 5000 м2</p>
          </a>
        </div>
        <div class="col-md-4">
          <a class="block-link" href="">
            <img class="img-owners" src="img/aboutKFC/business_page_thumb_02.jpg" alt="">
            <h2 class="title title-color">In line</h2>
            <p class="paragr">Оренда/купівля приміщення/будівлі площею від 300 м2 до 500 м2</p>
          </a>
        </div>
        <div class="col-md-4">
          <a class="block-link" href="">
            <img class="img-owners" src="img/aboutKFC/business_page_thumb_03.jpg" alt="">
            <h2 class="title title-color">Food Court</h2>
            <p class="paragr">Оренда приміщень в торговому центрі в зоні ресторанного дворика від 120 до 140 метрів</p>
          </a>
        </div>
      </div>
    </div>

    <div class="contact-info">
      <h3 class="title">Контакти відділу нерухомості та розвитку:</h3>
      <p>125171, Росія, Москва, Ленінградське шосе, д. 16 А, стр. 2, Бізнес Центр Метрополіс</p>
      <p>Тел.: <span>8 (495) 212 00 00 дод. 2705</span></p>
      <p>Факс:  <span>8 (495) 212 00 22</span></p>
      <p>E-mail: <a class="email" href="#">Pavel.Goncharov@yum.com</a></p>
    </div>    
    <footer>
    <% include ../partials/footer %>
  </footer>
  </div>
  
</body>

</html>