<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>
</head>
<body>

<div class="wrapper">
  <header>
    <% include ../partials/header %>
  </header>

    <div class="down-header">
      <a class="main" href="../../index.html">Головна</a>
      <span> / </span>
      <a href="#">Акції</a>
    </div>

    <ul class="content-list">
      <li class="content-list-item">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <img class="img-owners" src="img/promo_1.png" alt="">
            </div>
            <div class="col-md-8">
              <h5 class="title">КВІТЕНЬ 2017</h5>
              <a class="forth-title" href="#">Квітень 2017</a>
              <p>Смакуйте новi смачнi страви з меню сальса! Пропозиція дійсна в усіх ресторанах мережі KFC в Українi. Термiн дiї пропозицiї –до 20.05.17 ...</p>
            </div>
          </div>
        </div>
      </li>
      <li class="content-list-item">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <img class="img-owners" src="img/promo_2.png" alt="">
            </div>
            <div class="col-md-8">
              <h5 class="title">БЕРЕЗЕНЬ 2017 </h5>
              <a class="forth-title" href="#">Смакуй та вигравай</a>
              <p>Курочку складай - гіроборд вигравай!
                Беріть участь у акції – #курочкауформікурочки та отримайте шанс поїхати з KFC на новенькому гіроборді.
                Детальна інформація ...</p>
            </div>
          </div>
        </div>
      </li>
      <li class="content-list-item">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <img class="img-owners" src="img/promo/promo_4.png" alt="">
            </div>
            <div class="col-md-8">
              <h5 class="title">СІЧЕНЬ 2017</h5>
              <a class="forth-title" href="#">Знижки за купонами до 20% м. Київ</a>
              <p>Завантажуй купони і обідай зі знижкою! У KFC 10 вигідних пропозицій для тебе і твоїх друзів!</p>
            </div>
          </div>
        </div>
      </li>
      <li class="content-list-item">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <img class="img-owners" src="img/promo/promo_5.png" alt="">
            </div>
            <div class="col-md-8">
              <h5 class="title">СІЧЕНЬ 2017</h5>
              <a class="forth-title" href="#">Дві страви за 29 грн</a>
              <p>Термiн дiї пропозицiї –до 28.02.17 включно. 
                Пропозиція дійсна в усіх ресторанах мережі KFC в Українi. ...</p>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="page1.html">1</a></li>
        <li><a href="page2.html">2</a></li>
        <li><a href="page3.html">3</a></li>
        <li><a href="page4.html">4</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  <footer>
    <% include ../partials/footer %>
    </footer>
  </div>

</body>

</html>