<!DOCTYPE html>
<html lang="ru">
<head>
  <% include ../partials/head %>
</head>
<body>

<div class="wrapper">
  <header>
    <% include ../partials/header %>
  </header>

    <div class="down-header">
      <a class="main" href="../../index.html">Головна</a>
      <span> / </span>
      <a href="#">Кар'єра</a>
      <span> / </span>
      <a href="#">Вакансії</a>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
        <a class="block-link" href="employee">
            <img src="img/career/category_vacancy_1.png" alt="">
            <h4 class="title">Співробітник ресторану</h4>
            <p class="paragr">cтартова позиція в нашій компанії, яка не вимагає досвіду роботи</p>
            <a class="add-btn-other" href="employee">Докладніше про вакансію</a>
          </a>
        </div>
        <div class="col-md-4">
          <a class="block-link" href="manager">
            <img src="img/career/career_manager_turn.png" alt="">
            <h4 class="title">Менеджер ресторану</h4>
            <p class="paragr">контроль та управління всіма процесами в ресторані</p>
            <a class="add-btn-other" href="manager">Докладніше про вакансію</a>
          </a>
        </div>
      </div>
    </div>
    <footer>
    <% include ../partials/footer %>
  	</footer>
  </div>

</body>

</html>